{% for dir in dirs_and_files %}
    <button id="dir_name_{{dir.0.name}}" class="white" onclick="deleteDirectory('{{dir.0.name}}')">
        {% for _ in dir.1 %}
            &emsp;
        {% endfor %}
        {{ dir.0.name }}/
    </button>

    {% for file in dir.2 %}
        <button id="file_name_{{file.name}}" onclick="fileClick('{{file.name}}')">
        {% for _ in dir.1 %}
            &emsp;
        {% endfor %}

            &emsp;|
        {{ file.name }}
        </button>
    {% endfor %}
{% endfor %}