:root {
  --color-menu: rgb(153, 153, 233);
  --color-file-section: rgb(230, 84, 84);
  --color-program-code: rgb(144, 231, 158);
  --color-focus-elements: rgb(138, 126, 132);
  --color-container-tab-data: rgb(228, 141, 192);
  --color-tabs: rgb(141, 178, 228);
  --color-tab: rgb(200, 221, 203);
  --color-tab-active: rgb(120, 184, 133);
  --color-white: white;
  --color-background: rgb(66, 158, 127);
  /* --color-background: white; */
}

html {
  font-size: 16px;
  min-width: 500px;
  background-color: var(--color-background);
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

code {
  white-space: pre-wrap;
}

.grid-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 2fr 14fr 4fr;
  grid-template-columns: 4fr 12fr 4fr;
  grid-gap: 1px;
}

.menu {
  background-color: var(--color-menu);
  grid-column: 1/4;
}

.file-selection {
  overflow: auto;
  background-color: var(--color-file-section);
  grid-row: 2/4;
}

.program-code {
  overflow: auto;
  background-color: var(--color-program-code);
  padding: 2% 10%;
}

.focus-elements {
  overflow: auto;
  background-color: var(--color-focus-elements);
  padding: 2% 2%;
}

.container-tab-data {
  background-color: var(--color-container-tab-data);
  grid-column: 2/4;
}

.container-tab-data p {
  padding: 0 2%;
}

.tabs {
  height: 20%;
  border-bottom: 1px solid var(--color-background);
  background-color: var(--color-tabs);
}

.tabs button {
  height: 100%;
  background-color: var(--color-tab);
  transform: skew(-20deg);
  z-index: 5;
  padding: 0 2%;
  cursor: pointer;
}

.tabs button:nth-child(1) {
  margin-left: 5%;
}

.tabs .active {
  background-color: var(--color-tab-active);
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.menu li {
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.menu li a {
  height: 100%;
  width: 100%;
  color: black;
  font-size: 2em;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu li a:hover {
  color: var(--color-white);
}

.file-selection button {
  width: 100%;
  height: 5%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: left;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  font-size: 1.5em;
  padding: 2%;
  margin: 5% 0;
}

.file-selection button:hover {
  color: var(--color-white);
}

@media screen and (max-width: 1024px) {
  .grid-container {
    grid-template-rows: 2fr 10fr 4fr 4fr;
  }
  .file-selection {
    grid-row: 2/5;
  }
  .program-code {
    grid-column: 2/4;
  }
  .focus-elements {
    grid-column: 2/4;
  }
}

@media screen and (max-width: 720px) {
  .grid-container {
    grid-template-rows: 2fr 3fr 9fr 3fr 3fr;
    grid-template-columns: 1fr;
  }
  .grid-item {
    grid-column: 1/2;
  }
  .file-selection {
    grid-row: 2/3;
  }
  .file-selection button {
    display: flex;
    float: left;
    height: 100%;
    width: auto;
    margin: 0 2%;
  }
}

.white {
  color: white;
}